<%- include('header.ejs')%> 

<br><br>
<div class="container">
  <% if (data.length > 0) { %>
  <table class="table table-striped table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <!---->
      <% for( dato of data ) { %>
        <tr>
          <% if (dato != null) { %>
            <td><%= dato.id  %> </td>
            <td><%= dato.title %> </td>
            <td><%= dato.price %> </td>
            <td><%= dato.thumbnail %> </td>
        </tr>
          <% } else{ %>
            <p class="alert alert-danger">No hay ningun id con ese numero</p>  
          <% } %>
      <% } %>
    </tbody>
  </table>
  <% } else{ %>
    <p class="alert alert-danger">No se encontraron los datos</p>  
  <% } %>
</div>

<%- include('footer.ejs') %> 